/.qmake.stash
/.vs/AnalogExif/v15/.suo
/.vs/AnalogExif/v15/Browse.VC.db
/.vs/AnalogExif/v15/Browse.VC.opendb
/AnalogExif.nsh
/AnalogExif.vcxproj
/AnalogExif.vcxproj.filters
/AnalogExif.vcxproj.user
/Backup/AnalogExif.sln
/Debug/AnalogExif.log
/Debug/AnalogExif.tlog/AnalogExif.lastbuildstate
/Debug/AnalogExif.tlog/CL.command.1.tlog
/Debug/AnalogExif.tlog/CL.read.1.tlog
/Debug/AnalogExif.tlog/CL.write.1.tlog
/Debug/AnalogExif.tlog/custombuild.command.1.tlog
/Debug/AnalogExif.tlog/custombuild.read.1.tlog
/Debug/AnalogExif.tlog/custombuild.write.1.tlog
/Debug/AnalogExif.tlog/unsuccessfulbuild
/Debug/aboutdialog.obj
/Debug/asciistringdialog.obj
/Debug/asciitextdialog.obj
/Debug/autofillexpnum.obj
/Debug/dirsortfilterproxymodel.obj
/Debug/editgeartreemodel.obj
/Debug/exifitem.obj
/Debug/metadatatagcompleter.obj
/Debug/moc_aboutdialog.cpp
/Debug/moc_aboutdialog.obj
/Debug/moc_analogexif.cpp
/Debug/moc_analogexifoptions.cpp
/Debug/moc_asciistringdialog.cpp
/Debug/moc_asciistringdialog.obj
/Debug/moc_asciitextdialog.cpp
/Debug/moc_asciitextdialog.obj
/Debug/moc_autofillexpnum.cpp
/Debug/moc_autofillexpnum.obj
/Debug/moc_checkedgeartreeview.cpp
/Debug/moc_checkedgeartreeview.obj
/Debug/moc_copymetadatadialog.cpp
/Debug/moc_dirsortfilterproxymodel.cpp
/Debug/moc_dirsortfilterproxymodel.obj
/Debug/moc_editgear.cpp
/Debug/moc_editgeartagsmodel.cpp
/Debug/moc_editgeartagsmodel.obj
/Debug/moc_editgeartreemodel.cpp
/Debug/moc_editgeartreemodel.obj
/Debug/moc_edittagselectvalues.cpp
/Debug/moc_emptyspinbox.cpp
/Debug/moc_emptyspinbox.obj
/Debug/moc_exifitemdelegate.cpp
/Debug/moc_exiftreemodel.cpp
/Debug/moc_gearlistmodel.cpp
/Debug/moc_gearlistview.cpp
/Debug/moc_gearlistview.obj
/Debug/moc_geartableview.cpp
/Debug/moc_geartableview.obj
/Debug/moc_geartreemodel.cpp
/Debug/moc_geartreeview.cpp
/Debug/moc_geartreeview.obj
/Debug/moc_metadatatagcompleter.cpp
/Debug/moc_metadatatagcompleter.obj
/Debug/moc_multitagvaluesdialog.cpp
/Debug/moc_onlineversionchecker.cpp
/Debug/moc_optgeartemplatemodel.cpp
/Debug/moc_optgeartemplatemodel.obj
/Debug/moc_optgeartemplateview.cpp
/Debug/moc_optgeartemplateview.obj
/Debug/moc_predefs.h
/Debug/moc_predefs.h.cbt
/Debug/moc_progressdialog.cpp
/Debug/moc_progressdialog.obj
/Debug/moc_tagnameeditdialog.cpp
/Debug/moc_tagnameeditdialog.obj
/Debug/moc_tagnameitemdelegate.cpp
/Debug/moc_tagnameitemdelegate.obj
/Debug/moc_tagselectvalsitemdelegate.cpp
/Debug/moc_tagselectvalsitemdelegate.obj
/Debug/moc_tagtypeitemdelegate.cpp
/Debug/moc_tagtypeitemdelegate.obj
/Debug/progressdialog.obj
/Debug/qrc_analogexif.cpp
/Debug/qrc_analogexif.obj
/Debug/tagtypeitemdelegate.obj
/Debug/vc141.pdb
/UpgradeLog.htm
/release/moc_predefs.h.cbt
/ui_aboutdialog.h
/ui_analogexif.h
/ui_analogexifoptions.h
/ui_asciistringdialog.h
/ui_asciitextdialog.h
/ui_autofillexpnum.h
/ui_copymetadatadialog.h
/ui_editgear.h
/ui_edittagselectvalues.h
/ui_multitagvaluesdialog.h
/ui_progressdialog.h
/ui_tagnameeditdialog.h
/version.xml
