/.qmake.stash
/.vs/AnalogExif/v15/.suo
/.vs/AnalogExif/v15/Browse.VC.db
/.vs/AnalogExif/v15/Browse.VC.opendb
/AnalogExif.nsh
/AnalogExif.vcxproj
/AnalogExif.vcxproj.filters
/AnalogExif.vcxproj.user
/Backup/AnalogExif.sln
/Debug/AnalogExif.log
/Debug/AnalogExif.tlog/AnalogExif.lastbuildstate
/Debug/AnalogExif.tlog/CL.command.1.tlog
/Debug/AnalogExif.tlog/CL.read.1.tlog
/Debug/AnalogExif.tlog/CL.write.1.tlog
/Debug/AnalogExif.tlog/custombuild.command.1.tlog
/Debug/AnalogExif.tlog/custombuild.read.1.tlog
/Debug/AnalogExif.tlog/custombuild.write.1.tlog
/Debug/AnalogExif.tlog/unsuccessfulbuild
/Debug/aboutdialog.obj
/Debug/asciistringdialog.obj
/Debug/asciitextdialog.obj
/Debug/autofillexpnum.obj
/Debug/dirsortfilterproxymodel.obj
/Debug/editgeartreemodel.obj
/Debug/exifitem.obj
/Debug/metadatatagcompleter.obj
/Debug/moc_aboutdialog.cpp
/Debug/moc_aboutdialog.obj
/Debug/moc_analogexif.cpp
/Debug/moc_analogexifoptions.cpp
/Debug/moc_asciistringdialog.cpp
/Debug/moc_asciistringdialog.obj
/Debug/moc_asciitextdialog.cpp
/Debug/moc_asciitextdialog.obj
/Debug/moc_autofillexpnum.cpp
/Debug/moc_autofillexpnum.obj
/Debug/moc_checkedgeartreeview.cpp
/Debug/moc_checkedgeartreeview.obj
/Debug/moc_copymetadatadialog.cpp
/Debug/moc_dirsortfilterproxymodel.cpp
/Debug/moc_dirsortfilterproxymodel.obj
/Debug/moc_editgear.cpp
/Debug/moc_editgeartagsmodel.cpp
/Debug/moc_editgeartagsmodel.obj
/Debug/moc_editgeartreemodel.cpp
/Debug/moc_editgeartreemodel.obj
/Debug/moc_edittagselectvalues.cpp
/Debug/moc_emptyspinbox.cpp
/Debug/moc_emptyspinbox.obj
/Debug/moc_exifitemdelegate.cpp
/Debug/moc_exiftreemodel.cpp
/Debug/moc_gearlistmodel.cpp
/Debug/moc_gearlistview.cpp
/Debug/moc_gearlistview.obj
/Debug/moc_geartableview.cpp
/Debug/moc_geartableview.obj
/Debug/moc_geartreemodel.cpp
/Debug/moc_geartreeview.cpp
/Debug/moc_geartreeview.obj
/Debug/moc_metadatatagcompleter.cpp
/Debug/moc_metadatatagcompleter.obj
/Debug/moc_multitagvaluesdialog.cpp
/Debug/moc_onlineversionchecker.cpp
/Debug/moc_optgeartemplatemodel.cpp
/Debug/moc_optgeartemplatemodel.obj
/Debug/moc_optgeartemplateview.cpp
/Debug/moc_optgeartemplateview.obj
/Debug/moc_predefs.h
/Debug/moc_predefs.h.cbt
/Debug/moc_progressdialog.cpp
/Debug/moc_progressdialog.obj
/Debug/moc_tagnameeditdialog.cpp
/Debug/moc_tagnameeditdialog.obj
/Debug/moc_tagnameitemdelegate.cpp
/Debug/moc_tagnameitemdelegate.obj
/Debug/moc_tagselectvalsitemdelegate.cpp
/Debug/moc_tagselectvalsitemdelegate.obj
/Debug/moc_tagtypeitemdelegate.cpp
/Debug/moc_tagtypeitemdelegate.obj
/Debug/progressdialog.obj
/Debug/qrc_analogexif.cpp
/Debug/qrc_analogexif.obj
/Debug/tagtypeitemdelegate.obj
/Debug/vc141.pdb
/UpgradeLog.htm
/release/moc_predefs.h.cbt
/ui_aboutdialog.h
/ui_analogexif.h
/ui_analogexifoptions.h
/ui_asciistringdialog.h
/ui_asciitextdialog.h
/ui_autofillexpnum.h
/ui_copymetadatadialog.h
/ui_editgear.h
/ui_edittagselectvalues.h
/ui_multitagvaluesdialog.h
/ui_progressdialog.h
/ui_tagnameeditdialog.h
/version.xml
/.vs/AnalogExif/v15/ipch/AutoPCH/55aa0a1489c4c990/MAIN.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/7b63c39ae65912cf/GEARLISTMODEL.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/7eac281b72dce0e3/ANALOGEXIF.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/cb006473fa6dfe6b/GEARTREEMODEL.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/ce38228beabec1c8/EXIFTREEMODEL.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/e564dbbcfd1489b3/ANALOGEXIF.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/edf4269b1cc18f9e/EXIFUTILS.ipch
/Debug/AnalogExif.Build.CppClean.log
/Debug/AnalogExif.tlog/link.command.1.tlog
/Debug/AnalogExif.tlog/link.read.1.tlog
/Debug/AnalogExif.tlog/link.write.1.tlog
/Debug/analogexif.obj
/Debug/analogexifoptions.obj
/Debug/copymetadatadialog.obj
/Debug/editgear.obj
/Debug/editgeartagsmodel.obj
/Debug/edittagselectvalues.obj
/Debug/exifitemdelegate.obj
/Debug/exiftreemodel.obj
/Debug/exifutils.obj
/Debug/gearlistmodel.obj
/Debug/geartreemodel.obj
/Debug/main.obj
/Debug/moc_analogexif.obj
/Debug/moc_analogexifoptions.obj
/Debug/moc_copymetadatadialog.obj
/Debug/moc_editgear.obj
/Debug/moc_edittagselectvalues.obj
/Debug/moc_exifitemdelegate.obj
/Debug/moc_exiftreemodel.obj
/Debug/moc_gearlistmodel.obj
/Debug/moc_geartreemodel.obj
/Debug/moc_multitagvaluesdialog.obj
/Debug/moc_onlineversionchecker.obj
/Debug/multitagvaluesdialog.obj
/Debug/onlineversionchecker.obj
/Debug/optgeartemplatemodel.obj
/Debug/tagnameeditdialog.obj
/Debug/tagnameitemdelegate.obj
/Debug/tagselectvalsitemdelegate.obj
/.vs/AnalogExif/v15/ipch/AutoPCH/107725c04e44ef96/ABOUTDIALOG.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/11bbb88aec0e6f86/ABOUTDIALOG.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/18afd48077ccc9f8/EXIFTREEMODEL.ipch
/.vs/AnalogExif/v15/ipch/AutoPCH/90ba88594f6cb420/MAIN.ipch
/Debug/AnalogExif.exe
/Debug/AnalogExif.ilk
/Debug/AnalogExif.pdb
/Debug/Qt5Gui.dll
/Debug/Qt5Guid.dll
/Debug/Qt5Network.dll
/Debug/Qt5Networkd.dll
/Debug/Qt5Sql.dll
/Debug/Qt5Sqld.dll
/Debug/Qt5Widgets.dll
/Debug/Qt5Widgetsd.dll
/Debug/exiv2.dll
/Debug/libexpat.dll
/exiv2.lib
/libexpat.lib
/release/AnalogExif.Build.CppClean.log
/release/AnalogExif.exe
/release/AnalogExif.log
/release/AnalogExif.tlog/AnalogExif.lastbuildstate
/release/AnalogExif.tlog/CL.command.1.tlog
/release/AnalogExif.tlog/CL.read.1.tlog
/release/AnalogExif.tlog/CL.write.1.tlog
/release/AnalogExif.tlog/custombuild.command.1.tlog
/release/AnalogExif.tlog/custombuild.read.1.tlog
/release/AnalogExif.tlog/custombuild.write.1.tlog
/release/AnalogExif.tlog/link.command.1.tlog
/release/AnalogExif.tlog/link.read.1.tlog
/release/AnalogExif.tlog/link.write.1.tlog
/release/Qt5Gui.dll
/release/Qt5Network.dll
/release/Qt5Sql.dll
/release/Qt5Widgets.dll
/release/aboutdialog.obj
/release/analogexif.obj
/release/analogexifoptions.obj
/release/asciistringdialog.obj
/release/asciitextdialog.obj
/release/autofillexpnum.obj
/release/copymetadatadialog.obj
/release/dirsortfilterproxymodel.obj
/release/editgear.obj
/release/editgeartagsmodel.obj
/release/editgeartreemodel.obj
/release/edittagselectvalues.obj
/release/exifitem.obj
/release/exifitemdelegate.obj
/release/exiftreemodel.obj
/release/exifutils.obj
/release/exiv2.dll
/release/exiv2.lib
/release/gearlistmodel.obj
/release/geartreemodel.obj
/release/libexpat.dll
/release/main.obj
/release/metadatatagcompleter.obj
/release/moc_aboutdialog.cpp
/release/moc_aboutdialog.obj
/release/moc_analogexif.cpp
/release/moc_analogexif.obj
/release/moc_analogexifoptions.cpp
/release/moc_analogexifoptions.obj
/release/moc_asciistringdialog.cpp
/release/moc_asciistringdialog.obj
/release/moc_asciitextdialog.cpp
/release/moc_asciitextdialog.obj
/release/moc_autofillexpnum.cpp
/release/moc_autofillexpnum.obj
/release/moc_checkedgeartreeview.cpp
/release/moc_checkedgeartreeview.obj
/release/moc_copymetadatadialog.cpp
/release/moc_copymetadatadialog.obj
/release/moc_dirsortfilterproxymodel.cpp
/release/moc_dirsortfilterproxymodel.obj
/release/moc_editgear.cpp
/release/moc_editgear.obj
/release/moc_editgeartagsmodel.cpp
/release/moc_editgeartagsmodel.obj
/release/moc_editgeartreemodel.cpp
/release/moc_editgeartreemodel.obj
/release/moc_edittagselectvalues.cpp
/release/moc_edittagselectvalues.obj
/release/moc_emptyspinbox.cpp
/release/moc_emptyspinbox.obj
/release/moc_exifitemdelegate.cpp
/release/moc_exifitemdelegate.obj
/release/moc_exiftreemodel.cpp
/release/moc_exiftreemodel.obj
/release/moc_gearlistmodel.cpp
/release/moc_gearlistmodel.obj
/release/moc_gearlistview.cpp
/release/moc_gearlistview.obj
/release/moc_geartableview.cpp
/release/moc_geartableview.obj
/release/moc_geartreemodel.cpp
/release/moc_geartreemodel.obj
/release/moc_geartreeview.cpp
/release/moc_geartreeview.obj
/release/moc_metadatatagcompleter.cpp
/release/moc_metadatatagcompleter.obj
/release/moc_multitagvaluesdialog.cpp
/release/moc_multitagvaluesdialog.obj
/release/moc_onlineversionchecker.cpp
/release/moc_onlineversionchecker.obj
/release/moc_optgeartemplatemodel.cpp
/release/moc_optgeartemplatemodel.obj
/release/moc_optgeartemplateview.cpp
/release/moc_optgeartemplateview.obj
/release/moc_predefs.h
/release/moc_progressdialog.cpp
/release/moc_progressdialog.obj
/release/moc_tagnameeditdialog.cpp
/release/moc_tagnameeditdialog.obj
/release/moc_tagnameitemdelegate.cpp
/release/moc_tagnameitemdelegate.obj
/release/moc_tagselectvalsitemdelegate.cpp
/release/moc_tagselectvalsitemdelegate.obj
/release/moc_tagtypeitemdelegate.cpp
/release/moc_tagtypeitemdelegate.obj
/release/multitagvaluesdialog.obj
/release/onlineversionchecker.obj
/release/optgeartemplatemodel.obj
/release/progressdialog.obj
/release/qrc_analogexif.cpp
/release/qrc_analogexif.obj
/release/tagnameeditdialog.obj
/release/tagnameitemdelegate.obj
/release/tagselectvalsitemdelegate.obj
/release/tagtypeitemdelegate.obj
